body {
  background-color: #151017;
  font-family: 'Bebas Neue';
  font-size: 30px;
}
.movie #language img{
  height: 50px;
}

.top-bar {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151017;
}

.catalogue {
  color: #C33328;
  margin-left: 200px;
}

.search-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.top-bar #searchText{
  margin-top: 40px;
  width: 300px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #B1292B;
  font-family: 'Bebas Neue';
}

.top-bar .button {
  margin-left: 20px;
  margin-right: 150px;
  color: #fff;
  text-transform: uppercase;
  background: #B1292B;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  height: 65px;
  font-family: 'Bebas Neue';
  font-size: 20px;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

.movie {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  height: 516px;
  width: 344px;
  overflow: hidden;
}

.poster  {
  background-size:contain;
  position: relative;
}

#poster-img img {
  height: 100%;
  background-size: cover;
}

.poster ul {
  position: absolute;
  top :10px;
  padding-right: 30px;
}

.poster {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
}
.poster:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: black;
  background-size: 100% 100%;
}
.poster:hover:before {
  opacity: 0.8;
}
.poster li {
  display: none;
}
.poster:hover li {
  transition: all 0.8s;
  display: block;
}
